*{
    margin:0;
    padding:0;
    
}
body{
    background: linear-gradient(rgb(111, 190, 0),#19a3c6);
}
#contenedor{
    width:1000px ;
    height: 1015px ;
    background: #000;
    margin:auto;
    margin-top: 10px;
}
header{
    width: 1000px;
    height: 200px;
    background: #f00;
    background: url("../imagenes/helados5.jpg") no-repeat;
    background-size:cover;
    text-align: center;
    padding-top: 20px;
}

nav{
    width: 1000px;
    height: 50px;
    background: #000;
}
main{
    width: 1000px;
    height: 600px;
    background: rgb(255, 255, 255);
    
}
footer{
    width: 1000px;
    background: #000;
}
.pingu{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: rgb(170, 238, 74);
    text-shadow: 5px 2px 7px black;
    font-variant:small-caps;
}
.helado{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    font-weight: bold;
    color:#fff;
    text-shadow: 5px 2px 7px black;
    font-variant: small-caps;
}
.pinguino{
    width: 100px;
    margin-left: 100px;
}
.social1{
    width: 40px;
    float: right;
    position: relative;
    bottom: 60px;
    margin-right: 10px;
}
.social2{
    width: 40px;
    float: right;
    position:relative;
    left: 50px;
    margin-right: 10px; 
}
.social3{
    width: 37px;
    position:relative;
    float: right;
    top: 60px;
    left: 90px;
}
header a img{
    border-radius: 15px;
}
header a img:hover{
    box-shadow: 1px 1px 10px rgb(170, 238, 74);
}

/* menu de la pagina*/

#menu{
    width: 200px;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: flex;
}
#menu li{
    width: 150px;
    background: rgb(0, 0, 0);
    margin: 15px 5px;
    border: 1px solid #000;

}
#menu li a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    margin-left: 5px;
    font-weight: 700;
}
#menu li a:hover{
    background: rgb(170, 238, 74);
    transition: .5s;
    border-radius: 7px;
}

/* Diseño del main */

main{
    background:rgb(111, 190, 0) ;
}
#titulo-form{
    color:#000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    top:15px    
}    
#miformulario{
    background: rgb(170, 238, 74);
    margin: 30px;
    height: 450px;
    text-align: center;
    border: 3px dashed #19a3c6;
    
}
.p-form{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin:15px;
    color:#19a3c6;
}
.escribo{
    width: 400px;
    height: 30px;
}
input{
    width: 400px;
    height: 30px;
    border-radius: 5px;
    background:#19a3c6;
    border: 1px solid #19a3c6;
    
}
.boton{
    height: 35px;
    margin-top: 5px;
    color:#fff
}
textarea{
    background:rgb(170, 238, 74) ;
    border-radius: 5px;
    border: 1px solid #19a3c6;
}



/* Diseño del footer*/

footer{
    height: 130px;
    font-family: Arial, Helvetica, sans-serif;
    color:#fff
}
footer h5{
    margin: 15px 0px 5px 15px;
}
footer hr{
    margin-left: 15px;
    width: 220px;
}
footer p{
    font-size: small;
    margin: 5px 0px 0px 15px;
}